@import "../../global.scss";
.portfolioList {
    font-size: 17px;
    font-weight: 600;
    margin-right: 50px;
    padding: 27px;
    border-radius: 10px;
    cursor: pointer;
    @include mobile {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .example::-webkit-scrollbar {
            display: none;
        }
        /* Hide scrollbar for IE, Edge and Firefox */
        .example {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
        margin-right: 10px;
        padding: 7px;
        border-radius: 5px;
        font-size: 14px;
    }
    &.active {
        background-color: $mainColor;
        color: white;
    }
}